<section class="discount">
  <div class="container div-discount">
    <h2 class="discount-h">Advertisement</h2>
    <div class="div-p">
      <p class="dis-p">Discount up to 40%!</p>
    </div>
    <p class="taste-p">taste the vitamins and keep your health</p>
  </div>
</section>

<!--mob-menu-->
<div class="mob-menu">
  <div class="div-menu">
    <button class="close-menu" type="button"></button>
    <ul class="ul-menu">
      <li class="li-menu current">
        <a class="li-nav current-nav" href="./">How It Works</a>
      </li>

      <li class="li-menu">
        <a class="li-nav" href="./">Vegetables</a>
      </li>

      <li class="li-menu">
        <a class="li-nav" href="./">Reviews</a>
      </li>
    </ul>
    <button class="button-shop" type="button">Shop now</button>
  </div>
</div>
<div></div>
