<section class="discount">
  <div class="discount-div container">
    <h2 class="visually-hidden">Advertisement</h2>
    <p class="dis-p">
      <span class="span-p">Discount up to 40%!</span> Taste the vitamins and
      keep your health
    </p>
  </div>
</section>

<!--mob-menu-->
<div class="menu is-open">
  <div class="div-menu">
    <button class="close-menu" type="button">
      <svg class="icon-close" widht="32" height="32">
        <use href="../img/sprite.svg#icon-x-max"></use>
      </svg>
    </button>
    <nav class="nav-mob-menu">
      <ul class="ul-menu">
        <li class="li-menu">
          <a class="li-nav" href="#how-it-works">How It Works</a>
        </li>

        <li class="li-menu">
          <a class="li-nav" href="#vegetables">Vegetables</a>
        </li>

        <li class="li-menu">
          <a class="li-nav" href="#review">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="button-shop" type="button">Shop now</button>
  </div>
</div>
