<section class="discount">
  <div class="discount-div">
    <h2 class="visually-hidden">Advertisement</h2>
    <p class="dis-p">
      <span class="span-p">Discount up to 40%!</span> Taste the vitamins and
      keep your health
    </p>
  </div>
</section>

<!--mob-menu-->
<div class="menu is-open">
  <div class="div-menu">

    <button class="close-menu" type="button">
      <svg class="icon-close" widht="20" height="20">
        <use href="../img/sprite.svg#icon-x"></use>
      </svg>
    </button>

    <ul class="ul-menu">
      <li class="li-menu current">
        <a class="li-nav current-nav" href="./">How It Works</a>
      </li>

      <li class="li-menu">
        <a class="li-nav" href="./">Vegetables</a>
      </li>

      <li class="li-menu">
        <a class="li-nav" href="./">Reviews</a>
      </li>
    </ul>
    <button class="button-shop" type="button">Shop now</button>
  </div>
</div>
