<footer class="footer-sec">
  <div class="container foot-div-cont">
    <div class="logo-cont">
      <div class="logo-container-footer">
        <a class="logo-footer" href="./index.html">
          <img
            class="logo-icon-footer"
            src="./img/logo.svg"
            alt="logo"
            width="194"
            height="18"
        /></a>
      </div>
      <p class="footer-text">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>

    <div class="nav-div">
      <nav class="footer-nav">
        <ul class="footer-list-link">
          <li class="footer-list-link-li">
            <a class="footer-link" href="#how-it-work">how it works</a>
          </li>
          <li class="footer-list-link-li">
            <a class="footer-link" href="#vegetables">vegetables</a>
          </li>
          <li class="footer-list-link-li">
            <a class="footer-link" href="#review">reviews</a>
          </li>
        </ul>
      </nav>
      <address class="footer-address">
        <a class="addr-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
        <a class="addr-text" href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+Сполучені+Штати+Америки/@40.7335892,-111.9626616,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.7335892!4d-111.9600867!16s%2Fg%2F11bw41vm_p?authuser=0&entry=ttu" target="_blank">
          1678 S. Pioneer Road Salt<br />
          Lake City UT 84104
        </a>
      </address>
    </div>

    <div class="bottom-footer">
      <ul class="bottom-footer-ul">
        <li class="bottom-footer-li">
          <a class="bottom-footer-link" href="">Privacy Policy</a>
        </li>
        <li class="bottom-footer-li">
          <p class="bottom-slash">&frasl;</p>
        </li>
        <li class="bottom-footer-li">
          <a class="bottom-footer-link" href="">Cookie settings</a>
        </li>
      </ul>
      <p class="bottom-footer-p">©Green Harvest 2023</p>
    </div>
  </div>
</footer>
