<footer class="footer-sec">
  <div class="container foot-div-cont">
    <div class="logo-cont">
      <svg class="footer-svg" width="16" height="16" fill="#FBFBFB">
        <use href="../img/sprite.svg#icon-logo"></use>
      </svg>
      <a class="logo-link" href="">
        <svg class="footer-svg-text" width="156" height="22" fill="#FBFBFB">
          <use href="../img/sprite.svg#icon-GreenHarvest"></use>
        </svg>
      </a>
      <p class="footer-text">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>

    <div class="nav-div">
      <nav class="footer-nav">
        <ul class="footer-list-link">
          <li class="footer-list-link-li">
            <a class="footer-link" href="#how-it-work">how it works</a>
          </li>
          <li class="footer-list-link-li">
            <a class="footer-link" href="#vegetables">vegetables</a>
          </li>
          <li class="footer-list-link-li">
            <a class="footer-link" href="#review">reviews</a>
          </li>
        </ul>
      </nav>

      <address class="footer-address">
        <a class="addr-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
        <p class="addr-text">
          1678 S. Pioneer Road Salt<br />
          Lake City UT 84104
        </p>
      </address>
    </div>

    <div class="bottom-footer">
      <ul class="bottom-footer-ul">
        <li class="bottom-footer-li">
          <a class="bottom-footer-link" href="">Privacy Policy</a>
        </li>
        <li class="bottom-footer-li">
          <p class="bottom-slash">&frasl;</p>
        </li>
        <li class="bottom-footer-li">
          <a class="bottom-footer-link" href="">Cookie settings</a>
        </li>
      </ul>
      <p class="bottom-footer-p">©Green Harvest 2023</p>
    </div>
  </div>
</footer>
