<header class="header">
  <div class="container">
    <div class="logo-container">
      <a class="logo" href="./index.html">
        <img
          class="logo-icon"
          src="./img/logo.svg"
          alt="logo"
          width="194"
          height="18"
      /></a>
    </div>
    <nav class="nav-container">
      <ul class="nav-list">
        <li>
          <a class="nav-link" href="#how-it-work">How It Works</a>
        </li>
        <li><a class="nav-link" href="#vegetables">Vegetables</a></li>
        <li><a class="nav-link" href="#review">Reviews</a></li>
      </ul>
      <a href="#formlink" class="btn-shop" data-menu-close> Shop now </a>
    </nav>
    <div class="btn-menu-container">
      <button class="btn-menu" type="button" data-menu-open>
        <svg class="menu-icon" width="32" height="32">
          <use href="./img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
