

<!--  =======  header  ====================== -->
    <header class="header">

     <div  class="container header-container">
      
       
            <a class="logo" href="./index.html">
                <svg class="icon-header-logo" width="164" height="16">
                    <use href="../img/header.svg#icon-logo"></use>
                </svg>
            </a>

            <a class="logo-tab" href="./index.html">
                <svg class="icon-header-logo-tab" width="186" height="18">
                    <use href="../img/header.svg#icon-logo"></use>
                </svg>
            </a>



     <div class="groupe-header-menu-block">
        <nav class="header-navigation">
            <ul class="nav-menu">
                <li><a class="nav-link" href="#how-it-works" target="_blank" rel="noopener noreferrer">How it Works</a></li>
                <li><a class="nav-link" href="#vegetables" target="_blank" rel="noopener noreferrer">Vegetables</a></li>
                <li><a class="nav-link" href="#reviews" target="_blank" rel="noopener noreferrer">Reviews</a></li>
            </ul>
       

            <a class="shop-now" href="#grop-heder-shop-now" target="_blank" rel="noopener noreferrer">shop now</a>
            
            
            <button class="open-menu-btn" type="button">
            
            
                <svg class="icon-header-mob" width="21" height="16">
                    <use href="../img/header.svg#icon-header-logo-mob"></use>
                </svg>
            
            
                <svg class="icon-header-tab" width="26" height="20">
                    <use href="../img/header.svg#icon-header-logo-mob"></use>
                </svg>
            
            
            </button>

        </nav>
     
   </div>
          
      
    </div>
   
    </header>

<!--======= menu  header====================-->
<div class="grop-mob-menu-main">
    <div class="mob-menu-backdrop-main is-open" id="grop-heder-shop">
        <div class="mob-menu-header">



            <button type="button" class="header-menu-close-btn">
                <svg class="header-menu-close-icon" width="32" height="32">
                    <use href="../img/header.svg#icon-header-logo-mob">
                    </use>
                </svg>
            </button>


            <nav class="mob-menu-navigation">
                <ul class="mob-menu-list">
                    <li><a class="mob-menu-item" href="#how-it-works" target="_blank" rel="noopener noreferrer">How it Works</a></li>
                    <li><a class="mob-menu-item" href="#vegetables" target="_blank" rel="noopener noreferrer">Vegetables</a></li>
                    <li><a class="mob-menu-item" href="#reviews" target="_blank" rel="noopener noreferrer">Reviews</a></li>
                </ul>
               
                <a class="shop-now-menu" href="#grop-heder-shop-now" target="_blank" rel="noopener noreferrer">shop now</a>
               
            </nav>

         </div>
    </div>

</div>
</header>


<!--==== end menu afterheader =================-->

  
