<section class="how-it-works">
    <div class="section-pictures">
        <div class="container works">
            <h2 class="visually-hidden">About</h2>
            <picture>
                <source media="(min-width: 1280px)"
                    srcset="../img/how-it-worcks/woman-works@1-desk-min.jpg 1x, ../img/how-it-worcks/woman-works@2-desk-min.jpg 2x" />
                <source media="(min-width: 768px)"
                    srcset="../img/how-it-worcks/woman-works@1-tab-min.jpg 1x, ../img/how-it-worcks/woman-works@2-tab-min.jpg 2x" />
                <source media="(max-width: 767px)"
                    srcset="../img/how-it-worcks/woman-works@1-mob-min.jpg 1x, ../img/how-it-worcks/woman-works@2-mob-min.jpg 2x" />
                <img class="picture-woman" src="../img/how-it-worcks/woman-works@1-mob-min.jpg">
            </picture>
        </div>
    </div>
    <div class="section-desk">
        <div class="container desk">
            <h2 class="headline">To order your <span class="headline-title">vegetable</span> basket, simply
                follow
                these <span class="headline-title">easy steps</span>
            </h2>
            <p class="headline-about">Our baskets are assembled with care and delivered straight to your
                doorstep, so
                you can
                enjoy
                the
                taste of fresh fruit
                without ever leaving your home.</p>
            <ol class="steps">
                <div class="list">
                    <li class="list-text">
                        <span class="figures-number">
                            <span class="figures">1</span>
                        </span>
                        <p class="text">Just choose <span class="step-text">the vegetable</span> you
                            want
                            to
                            order by
                            clicking on the
                            checkboxes
                            <span class="step-text">next to
                                it</span>.
                        </p>
                    </li>
                </div>
                <div class="list">
                    <li class="list-text">
                        <span class="figures-number">
                            <span class="figures">2</span>
                        </span>
                        <p class="text">Click on <span class="step-text">the basket</span> and fill out
                            the
                            form.</p>
                    </li>
                </div>
                <div class="list">
                    <li class="list-text">
                        <span class="figures-number">
                            <span class="figures">3</span>
                        </span>
                        <p class="text">Sit back and relax! Your <span class="step-text">fresh
                                vegetables</span> basket will be delivered.</p>
                    </li>
                </div>
        </div>
    </div>
    </ol>

    </div>

</section>