<section class="how-it-works" id="how-it-works">
    <div class="container container-how-it">
        <h2 class="visually-hidden">About</h2>
        <div class="section-pictures">

            <picture class="order-gradient">
                <source media="(min-width: 1280px)"

                    srcset="./img/how-it-worcks/woman-works@1-desk-min.jpg 1x, ./img/how-it-worcks/woman-works@2-desk-min.jpg 2x" />
                <source media="(min-width: 768px)"
                    srcset="./img/how-it-worcks/woman-works@1-tab-min.jpg 1x, ./img/how-it-worcks/woman-works@2-tab-min.jpg 2x" />
                <source media="(max-width: 767px)"

                    srcset="./img/how-it-worcks/woman-works@1-mob-min.jpg 1x, ./img/how-it-worcks/woman-works@2-mob-min.jpg 2x" />


                <img class="picture-woman" src="./img/how-it-worcks/woman-works@1-desk-min.jpg">
            </picture>
        </div>
        <div class="section-desk">

            <h2 class="headline">To order your <span class="headline-title">vegetable</span> basket, simply
                follow
                these <span class="headline-title">easy steps</span>
            </h2>
            <p class="headline-about">Our baskets are assembled with care and delivered straight to your
                doorstep, so
                you can
                enjoy
                the
                taste of fresh fruit
                without ever leaving your home.</p>
            <ol class="steps">

                <li class="list-text">
                    <span class="figures-number">
                        <span class="figures">1</span>
                    </span>
                    <p class="text">Just choose <span class="step-text">the vegetable</span> you
                        want
                        to
                        order by
                        clicking on the
                        checkboxes
                        <span class="step-text">next to
                            it</span>.
                    </p>
                </li>

                <li class="list-text">
                    <span class="figures-number">
                        <span class="figures">2</span>
                    </span>
                    <p class="text">Click on <span class="step-text">the basket</span> and fill out
                        the
                        form.</p>
                </li>

                <li class="list-text">
                    <span class="figures-number">
                        <span class="figures">3</span>
                    </span>
                    <p class="text">Sit back and relax! Your <span class="step-text">fresh
                            vegetables</span> basket will be delivered.</p>
                </li>

        </div>
    </div>
    </ol>

    </div>

</section>