<section class="review" id="review">
  <!-- Title and paragraph -->

  <div class="container review-container">
    <h2 class="review-section-title">
      Reviews from our <span class="review-title-span">customers</span>
    </h2>
    <p class="review-section-text">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>

    <!-- Reviews -->

    <ul class="review-list">
      <!-- John Wax -->

      <li class="review-list-item">
        <img
          srcset="
            ./img/reviews/JohnWax@1-min.jpg 1x,
            ./img/reviews/JohnWax@2-min.jpg 2x
          "
          class="review-section-img"
          src="./img/reviews/JohnWax@1-min.jpg"
          alt="Man in glasses"
        />
        <div class="review-title-text-div">
          <h3 class="review-section-div-title">John Wax</h3>
          <p class="review-section-div-text">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </div>
      </li>

      <!-- Victoria Romashenko -->

      <li class="review-list-item">
        <img
          srcset="
            ./img/reviews/VictoriaRomashenko@1-min.jpg 1x,
            ./img/reviews/VictoriaRomashenko@2-min.jpg 2x
          "
          class="review-section-img"
          src="./img/reviews/VictoriaRomashenko@1-min.jpg"
          alt="White hair girl"
        />
        <div class="review-title-text-div">
          <h3 class="review-section-div-title">Victoria Romashenko</h3>
          <p class="review-section-div-text">
            I love how fast and fresh the vegetables are delivered. Salads
            always turn out so appetizing, and soups are real masterpieces. The
            quality is impeccable!
          </p>
        </div>
      </li>

      <!-- Ihor Trachuk -->

      <li class="review-list-item">
        <img
          srcset="
            ./img/reviews/IhorTrachuk@1-min.jpg 1x,
            ./img/reviews/IhorTrachuk@2-min.jpg 2x
          "
          class="review-section-img"
          src="./img/reviews/IhorTrachuk@1-min.jpg"
          alt="Smile man"
        />
        <div class="review-title-text-div">
          <h3 class="review-section-div-title">Ihor Trachuk</h3>
          <p class="review-section-div-text">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my
            table. It is now my main vegetable supplier.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
