<section class="vegetables">
        <div class="vegetables-container">
          <div class="vegetables-text">
        <h2 class="vegetables-title">ORGANIC <span class="vegetables-title-color">VEGETABLES</span></h2>
        <p class="vegetables-sub-title">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
           </div>
        <ul class="vegetables-list">
          <li class="vegetables-list-item">
            <div class="vegetables-wrap">
                <h3 class="color-picture-text">eggplant</h3>
                <p class="picture-text">60 UAH/KG</p>
              <picture>
                <source srcset="./img/vegetables/eggplant@1-min.png 1x, ./img/vegetables/eggplant@2-min.png 2x" media="(min-width: 1200px)"/>
                <source srcset="./img/vegetables/eggplant@1-min.png 1x, ./img/vegetables/eggplant@2-min.png 2x" media="(min-width: 768px)"/>
                <source srcset="./img/vegetables/eggplant@1-min.png 1x, ./img/vegetables/eggplant@2-min.png 2x" media="(max-width: 767px)"/>
                <img class="vegetables-list-item-link" src="./img/vegetables/eggplant@1-min.png" width="252" height="216" alt="eggplant"/>
              </picture>
          </div>
          </li>
          <li class="vegetables-list-item">
            <div class="vegetables-wrap">
                <h3 class="color-picture-text">leek</h3>
                <p class="picture-text">50 UAH/KG</p>
              <picture>
                <source srcset="./img/leek@1-min.png 1x, ./img/leek@2-min.png 2x" media="(min-width: 1200px)"/>
                <source srcset="./img/leek@1-min.png 1x, ./img/leek@2-min.png 2x" media="(min-width: 768px)"/>
                <source srcset="./img/leek@1-min.png 1x, ./img/leek@2-min.png 2x" media="(max-width: 767px)"/>
                <img class="vegetables-list-item-link" src="./img/leek@1-min.png" width="252" height="216" alt="leek"/>
              </picture>
            </div>
          </li>
          <li class="vegetables-list-item">
            <div class="vegetables-wrap">
                <h3 class="color-picture-text">mushrooms</h3>
                <p class="picture-text">40 UAH/KG</p>
              <picture>
                <source srcset="./img/mushrooms@1-min.png 1x, ./img/mushrooms@2-min.png 2x" media="(min-width: 1200px)"/>
                <source srcset="./img/mushrooms@1-min.png 1x, ./img/mushrooms@2-min.png 2x" media="(min-width: 768px)"/>
                <source srcset="./img/mushrooms@1-min.png 1x, ./img/mushrooms@2-min.png 2x" media="(max-width: 767px)"/>
                <img class="vegetables-list-item-link" src="./img/mushrooms@1-min.png" width="252" height="216" alt="mushrooms"/>
              </picture>
            </div>
          </li>
          <li class="vegetables-list-item">
            <div class="vegetables-wrap">
                <h3 class="color-picture-text">corn</h3>
                <p class="picture-text">60 UAH/KG</p>
              <picture>
                <source srcset="./img/corn@1-min.png 1x, ./img/corn@2-min.png 2x" media="(min-width: 1200px)"/>
                <source srcset="./img/corn@1-min.png 1x, ./img/corn@2-min.png 2x" media="(min-width: 768px)"/>
                <source srcset="./img/corn@1-min.png 1x, ./img/corn@2-min.png 2x" media="(max-width: 767px)"/>
                <img class="vegetables-list-item-link" src="./img/corn@1-min.png" width="252" height="216" alt="corn"/>
              </picture>
            </div>
          </li>
          <li class="vegetables-list-item">
            <div class="vegetables-wrap">
                <h3 class="color-picture-text">sweet popatoes</h3>
                <p class="picture-text">50 UAH/KG</p>
              <picture>
                <source srcset="./img/sweet-potatoes@1-min.png 1x, ./img/sweet-potatoes@2-min.png 2x" media="(min-width: 1200px)"/>
                <source srcset="./img/sweet-potatoes@1-min.png 1x, ./img/sweet-potatoes@2-min.png 2x" media="(min-width: 768px)"/>
                <source srcset="./img/sweet-potatoes@1-min.png 1x, ./img/sweet-potatoes@2-min.png 2x" media="(max-width: 767px)"/>
                <img class="vegetables-list-item-link" src="./img/sweet-potatoes@1-min.png " width="252" height="216" alt="sweet-potatoes"/>
              </picture>
          </li>
          <li class="vegetables-list-item">
            <div class="vegetables-wrap">
                <h3 class="color-picture-text">carrot</h3>
                <p class="picture-text">40 UAH/KG</p>
              <picture>
                <source srcset="./img/carrot@1-min.png 1x, ./img/carrot@2-min.png 2x" media="(min-width: 1200px)"/>
                <source srcset="./img/carrot@1-min.png 1x, ./img/carrot@2-min.png 2x" media="(min-width: 768px)"/>
                <source srcset="./img/carrot@1-min.png 1x, ./img/carrot@2-min.png 2x" media="(max-width: 767px)"/>
                <img class="vegetables-list-item-link" src="./img/carrot@1-min.png" width="252" height="216" alt="carrot"/>
              </picture>
            </div> 
          </li>
        </ul>
      </div>
</section>
