<section class="vegetables" id="vegetables">
        <div class="container vegetables-container">
          <div class="vegetables-text">
        <h2 class="vegetables-title">ORGANIC <span class="vegetables-title-color">VEGETABLES</span></h2>
        <p class="vegetables-sub-title">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
           </div>
        <ul class="vegetables-list">
          <li class="vegetables-list-item">
            <div class="vegetables-wrap">
                <h3 class="color-picture-text">eggplant</h3>
                <p class="picture-text">60 UAH/KG</p>
              <picture>
                <source srcset="./img/vegetables/eggplant@1-min.png 1x, ./img/vegetables/eggplant@2-min.png 2x" media="(min-width: 1200px)"/>
                <source srcset="./img/vegetables/eggplant@1-min.png 1x, ./img/vegetables/eggplant@2-min.png 2x" media="(min-width: 768px)"/>
                <source srcset="./img/vegetables/eggplant@1-min.png 1x, ./img/vegetables/eggplant@2-min.png 2x" media="(max-width: 767px)"/>
                <img class="vegetables-list-item-link" src="./img/vegetables/eggplant@1-min.png" width="252" height="216" alt="eggplant"/>
              </picture>
              <p class="bordo-picture-text">Eggplants are rich in B vitamins, contain a lot of beta-carotene, vitamins A, E, K and C. These vegetables are a real storehouse of heart-healthy potassium, as well as calcium, magnesium and phosphorus.</p>
          </div>
          </li>
          <li class="vegetables-list-item">
            <div class="vegetables-wrap">
                <h3 class="color-picture-text">leek</h3>
                <p class="picture-text">50 UAH/KG</p>
              <picture>
                <source srcset="./img/vegetables/leek@1-min.png 1x, ./img/vegetables/leek@2-min.png 2x" media="(min-width: 1200px)"/>
                <source srcset="./img/vegetables/leek@1-min.png 1x, ./img/vegetables/leek@2-min.png 2x" media="(min-width: 768px)"/>
                <source srcset="./img/vegetables/leek@1-min.png 1x, ./img/vegetables/leek@2-min.png 2x" media="(max-width: 767px)"/>
                <img class="vegetables-list-item-link" src="./img/vegetables/leek@1-min.png" width="252" height="216" alt="leek"/>
              </picture>
              <p class="bordo-picture-text">Leeks are 90% water. It contains carbohydrates, proteins and some fat, and leeks also contain sugar, starch, organic acids and dietary fiber. Leeks are rich in vitamins such as: C, E, B1, B2, PP and carotene. In addition, it contains minerals: potassium, calcium, magnesium, manganese, iron, nickel, phosphorus and sodium.</p>
            </div>
          </li>
          <li class="vegetables-list-item">
            <div class="vegetables-wrap">
                <h3 class="color-picture-text">mushrooms</h3>
                <p class="picture-text">40 UAH/KG</p>
              <picture>
                <source srcset="./img/vegetables/mushrooms@1-min.png 1x, ./img/vegetables/mushrooms@2-min.png 2x" media="(min-width: 1200px)"/>
                <source srcset="./img/vegetables/mushrooms@1-min.png 1x, ./img/vegetables/mushrooms@2-min.png 2x" media="(min-width: 768px)"/>
                <source srcset="./img/vegetables/mushrooms@1-min.png 1x, ./img/vegetables/mushrooms@2-min.png 2x" media="(max-width: 767px)"/>
                <img class="vegetables-list-item-link" src="./img/vegetables/mushrooms@1-min.png" width="252" height="216" alt="mushrooms"/>
              </picture>
              <p class="bordo-picture-text">Fresh champignons contain vitamins B, D, E, PP, as well as some minerals, such as: potassium, calcium, zinc, selenium, copper and manganese, iron, phosphorus, almost two dozen amino acids, many of which are essential, which enter the body only with food, without being synthesized internally.</p>
            </div>
          </li>
          <li class="vegetables-list-item">
            <div class="vegetables-wrap">
                <h3 class="color-picture-text">corn</h3>
                <p class="picture-text">60 UAH/KG</p>
              <picture>
                <source srcset="./img/vegetables/corn@1-min.png 1x, ./img/vegetables/corn@2-min.png 2x" media="(min-width: 1200px)"/>
                <source srcset="./img/vegetables/corn@1-min.png 1x, ./img/vegetables/corn@2-min.png 2x" media="(min-width: 768px)"/>
                <source srcset="./img/vegetables/corn@1-min.png 1x, ./img/vegetables/corn@2-min.png 2x" media="(max-width: 767px)"/>
                <img class="vegetables-list-item-link" src="./img/vegetables/corn@1-min.png" width="252" height="216" alt="corn"/>
              </picture>
              <p class="bordo-picture-text">Sweet corn on the cob contains a lot of fiber, which is easily digestible. Sweet corn on the cob contains the entire range of B vitamins, ascorbic acid, PP vitamins, as well as minerals: molybdenum, copper, phosphorus, fluorine, potassium, iodine, magnesium.</p>
            </div>
          </li>
          <li class="vegetables-list-item">
            <div class="vegetables-wrap">
                <h3 class="color-picture-text">sweet popatoes</h3>
                <p class="picture-text">50 UAH/KG</p>
              <picture>
                <source srcset="./img/vegetables/sweet-potatoes@1-min.png 1x, ./img/vegetables/sweet-potatoes@2-min.png 2x" media="(min-width: 1200px)"/>
                <source srcset="./img/vegetables/sweet-potatoes@1-min.png 1x, ./img/vegetables/sweet-potatoes@2-min.png 2x" media="(min-width: 768px)"/>
                <source srcset="./img/vegetables/sweet-potatoes@1-min.png 1x, ./img/vegetables/sweet-potatoes@2-min.png 2x" media="(max-width: 767px)"/>
                <img class="vegetables-list-item-link" src="./img/vegetables/sweet-potatoes@1-min.png " width="252" height="216" alt="sweet-potatoes"/>
              </picture>
              <p class="bordo-picture-text">Sweet potatoes contain: beta-carotene, vitamins A, C - a natural antioxidant necessary to give elasticity to collagen, as well as minerals calcium, iron, phosphorus, which strengthen the body's defenses.</p>
            </div>
          </li>
          <li class="vegetables-list-item">
            <div class="vegetables-wrap">
                <h3 class="color-picture-text">carrot</h3>
                <p class="picture-text">40 UAH/KG</p>
              <picture>
                <source srcset="./img/vegetables/carrot@1-min.png 1x, ./img/vegetables/carrot@2-min.png 2x" media="(min-width: 1200px)"/>
                <source srcset="./img/vegetables/carrot@1-min.png 1x, ./img/vegetables/carrot@2-min.png 2x" media="(min-width: 768px)"/>
                <source srcset="./img/vegetables/carrot@1-min.png 1x, ./img/vegetables/carrot@2-min.png 2x" media="(max-width: 767px)"/>
                <img class="vegetables-list-item-link" src="./img/vegetables/carrot@1-min.png" width="252" height="216" alt="carrot"/>
              </picture>
              <p class="bordo-picture-text">Carrot roots contain carotenes, phytoene, phytofluene and lycopene. Small quantities contain pantothenic and ascorbic acids, flavonoids, anthocyanins, fatty and essential oils, umbrelifsron, lysine, ornithine, histidine, cysteine, asparagine, serine, threonine, proline, methionine, tyrosine, leucine, as well as B vitamins, flavones derivatives and fatty oil.</p>
            </div> 
          </li>
        </ul>
      </div>
</section>
