
<section class="your-order" id="order">
    <div class="order-container container"> 
        <div class="conteiner-one">
    <h2 class="order-title">Fresh<span class="transparent">Harvest</span>Box has got you covered</h2>
        <p class="order-text">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or support local farmers.
        Order your box today and start enjoying the best that nature has to offer!</p>
        </div>
    <div class="social-order-container">
            <div class="conteiner-two">
                <h3 class="conteiner-two-title">Ordering <span class="purple">from us</span> is quick and easy! Fill out <span
                class="green">the form</span> below and we will contact you !</h3>
        <form class="order-form" name="order-form">
            <input class="input-form" type="text" name="full_name" placeholder="Full Name">
            <input class="input-form" type="email" name="email" placeholder="Email">
            <textarea class="textarea-form" name="comment" rows="3" placeholder="Comment"></textarea>
            <button class="form-submit-btn" type="submit">send</button>
        </form>
        </div>

        <div class="conteiner-three">
                <picture class="order-gradient">
                <source media="(max-width: 767px)" srcset="./img/your-order/woman-glass@1-mob-min.jpg 1x, ./img/your-order/woman-glass@2-mob-min.jpg 2x">
                <source media="(min-width: 768px) and (max-width: 1279px)" srcset="./img/your-order/woman-glass@1-tab-min.jpg 1x, ./img/your-order/woman-glass@2-tab-min.jpg 2x">
                <source media="(min-width: 1280px)" srcset="./img/your-order/woman-glass@1-desk-min.jpg 1x, ./img/your-order/woman-glass@2-desk-min.jpg 2x">
                <img src="./img/your-order/woman-glass@1-desk-min.jpg" alt="Cooking" width="427" height="273" class="your-order-image">
            </picture>
        
        <p class="order-title-two">Follow us on our social networks:</p>
        <ul class="order-contacts-list">
        <li class="order-contacts-lisk-item">
        <a class="order-contacts-link" href="" target="_blank"></a>instagram</li>
        <li class="order-contacts-lisk-item">&#8260;</li>
        <li class="order-contacts-lisk-item">
        <a class="order-contacts-link" href="" target="_blank"></a>facebook</li>
        <li class="order-contacts-lisk-item">&#8260;</li>
        <li class="order-contacts-lisk-item">
        <a class="order-contacts-link" href="" target="_blank"></a>youtube</li>
    </ul>
    </div>
    </div>
    </div>
</section>