
.discount {
  padding: 80px 10px;
margin: 0 auto;
}
.discount-div {
  width: 355px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}
.dis-p {
font-family: "Inter Tight";
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 1.04; /* 104.167% */
letter-spacing: -0.015em;
text-transform: uppercase;
}
.span-p {
color: #FBFBFB;
border-radius: 12px;
background: #576F35;
display: block;
margin: 0 -10px;
    padding: 0 10px;
}

@media screen and (min-width: 768px){
  .discount {
    padding: 100px 0;
}
.discount-div {
}
.visually-hidden {
}
.dis-p {
font-size: 64px;
line-height: 1.09; /* 109.375% */
letter-spacing: -0.015em;
width: 704px;

}
.span-p {
  display: inherit;
      margin: 0 -16px;
    padding: 0 16px;
}
}
@media screen and (min-width: 1280px){
  .discount {
    padding: 100px 0;
}
.discount-div {
}
.visually-hidden {
}
.dis-p {
font-size: 76px;
line-height: 1.05; /* 105.263% */
letter-spacing: -0.015em;
width: 1054px;
}
.span-p {
  display: inline;
      margin: 0 -13px;
    padding: 0 13px;
}
}
