.hero {
  background-color: #576f35;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-text-container {
  display: block;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 40px;
}
.hero-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 20px;
}
.hero-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 129%;
  color: #fbfbfb;
}
.hero-img-container {
  display: block;
  margin: 0 -20px;
  width: calc(100% + 40px);
  height: 370px;
  background-image: linear-gradient(
      to bottom,
      rgba(20, 20, 20, 0.2),
      rgba(20, 20, 20, 0.2)
    ),
    url(../img/hero/hero@1-mob-min.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero-img-container {
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero@2-mob-min.jpg);
  }
}

/* Mobile 375px */
@media screen and (min-width: 375px) {
  .hero-container {
    width: 375px;
  }
  .hero-title {
    font-size: 48px;
  }
  .hero-text {
    font-size: 14px;
  }
}

/* Tablet 768px */
@media screen and (min-width: 768px) {
  .hero-container {
    width: 768px;
  }
  .hero-text-container {
    padding-top: 122px;
    padding-bottom: 50px;
  }
  .hero-title {
    font-size: 76px;
    margin-bottom: 25px;
  }
  .hero-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    width: 603px;
  }
  .hero-img-container {
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero@1-tab-min.jpg);
    height: 539px;
    margin: 0 -32px;
    width: calc(100% + 64px);
  }
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero-img-container {
      background-image: linear-gradient(
          to bottom,
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(../img/hero/hero@2-tab-min.jpg);
    }
  }
}

/* Desktop 1280px */
@media screen and (min-width: 1280px) {
  .hero-container {
    flex-direction: row;
    width: 1280px;
  }
  .hero-text-container {
    width: 630px;
    padding-top: 238px;
    padding-bottom: 50px;
  }
  .hero-title {
    margin-bottom: 128px;
    padding-right: 28px;
    max-width: 502px;
  }
  .hero-text {
    width: 472px;
    padding-right: 30px;
  }
  .hero-img-container {
    background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero@1-desk-min.jpg);
    width: 650px;
    height: 800px;
    flex-shrink: 0;
    margin: 0 -100px 0 0;
  }
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero-img-container {
      background-image: linear-gradient(
          to bottom,
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(../img/hero/hero@2-desk-min.jpg);
    }
  }
}
