
.how-it-works {
    background: #576F35;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.container-how-it {
    padding: 0;


}

.section-pictures {
    background: #7A3145;

    padding: 40px 20px;
    margin: 0 auto;
}

.section-desk {
    /*background-color: #576F35;*/
    padding: 80px 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.picture-woman {
    border-radius: 30px;
    max-width: 100%;
}

.headline {
    font-family: Inter Tight;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FBFBFB;
    margin-top: 0;
    margin-bottom: 20px;
}

.headline-title {
    color: rgba(251, 251, 251, 0.3);
}

.headline-about {
    font-family: Inter Tight;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #FBFBFB;
    margin-top: 0;
    margin-bottom: 40px;
}

.steps {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list {
    display: flex;
    max-width: 335px;
    height: 76px;
    width: 335px;
}

.list:not(:last-child) {
    margin-bottom: 20px;
}

.list-text {
    display: flex;
    border-radius: 15px;
    background-color: #FBFBFB;
    align-items: center;
    padding: 12px 24px;
    /*max-width: 280px;*/
}


.text {
    font-family: Inter Tight;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.6);

}

.step-text {
    font-weight: 700;
    color: #141414;
}

.figures {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 42px;
    min-height: 42px;
    border-radius: 50%;
    background-color: #7A3145;
}

.figures-number {
    color: #FBFBFB;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 52px;
    min-height: 52px;
    border-radius: 50%;
    background-color: rgba(122, 49, 69, 0.30);
    margin-right: 24px;
}

/*=================*/
@media screen and (min-width: 768px) {
    .section-pictures {

        padding: 100px 64px;
    }

    .section-desk {
        padding: 100px 159px;
    }

    .headline {
        font-size: 32px;
        width: 450px;
        margin-bottom: 25px;
    }

    .headline-about {
        font-size: 16px;
        line-height: 125%;
        margin-bottom: 50px;
    }

    .text {
        font-size: 16px;
    }

    .text {
        width: 325px;

    }
}

@media screen and (min-width: 1280px) {

    .how-it-works {
        background: linear-gradient(to right, #7A3145 50%, #576F35 50%);
    }


    .section-pictures {
        padding: 100px;
    }

    .section-desk {
        padding: 100px 100px 160px;
    }

    .headline-about {
        width: 450px;
    }


    .container-how-it {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

}