.container {
  width: 375px;
  padding: 20px;
}

.review {
  padding: 80px 0;
}
.review-section-title {
  color: #141414;
  font-family: 'Inter Tight';
  font-size: 48px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.review-title-span {
  color: #576f35;
  font-family: 'Inter Tight';
  font-size: 48px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.review-section-text {
  color: #141414;
  font-family: 'Inter Tight';
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 40px;
}
.review-section-div-first {
  max-width: 100%;
  border-radius: 24px;
  border: 1px solid rgba(122, 49, 69, 0.3);
  background: #fbfbfb;
  padding: 20px 16px;
}

.review-section-div-second {
  display: none;
}

.review-section-div-third {
  display: none;
}

.review-section-img {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 24px;
}

.review-title-text-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.review-section-div-title {
  color: #040306;
  text-align: center;
  font-family: 'Inter Tight';
  font-size: 16px;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: -0.32px;
}
.review-section-div-text {
  color: rgba(4, 3, 6, 0.4);
  text-align: center;
  font-family: 'Inter Tight';
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .review-section-title {
    width: 100%;
    max-width: 553px;
    color: #141414;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.96px;
  }

  .review-title-span {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.96px;
  }

  .review-section-text {
    width: 100%;
    max-width: 553px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}
